
/* mobile */
@media (max-width: 740px) {
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #00000083;
        z-index: 1;
        height: 65px;
        overflow: hidden;
        margin-top: 10px;
    }
   
    .navigation-item {
        display: block;
    }

    .navigation a {
        margin-left: 0;
        font-size: 20px;
    }

    .buttonLogin {
        margin-left: 0;
        margin-right: 10px;
    }

    .navigation .mobile-menu-btn {
        display: block;
        width: 100px;
        height: 50px;
        margin-right: 10px;
        text-align: center;
    }
    
    .mobile-menu-icon {
        margin-top: 14px;
    }

}