body{
    overflow-x: hidden;
    
}

.web {
    background-color: #1f1f1f;
    color: #fff;
}

.carousel-caption h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}
.carousel-caption button {
    margin-bottom: 100px;
    padding: 30px 60px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    border: 1px solid #ff0000;
}

.carousel-caption button:hover {
    background-color: #f04a4a;
    color: #fff;
    border: 0.1px solid #ffffff;
}

.navigation-header {
    background-color: #00000083;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding-top: 10px;

}


.navigation {
    display: flex;
    justify-content: space-between;
}
.navigation-item  {
    display: inline-flex;
}

.navigation-item li  {
    margin-top: 15px;
    text-decoration: none;
}


.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 5px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);   
    transition: .5s; 
    
}

.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;


}
.navigation .buttonLogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 50px;
    transition: .5s;
}
.navigation .buttonLogin:hover {
    background: #fff;
    color: #162938;
}


.container-header .nav-link:hover {
    background-color: rgb(227, 59, 59);
    color: #eee;
}

#content {
    margin-top: 100px;
    
}

#content .content-section {
    text-align: center;
    font-weight: 500;
    margin: 60px 120px 60px 120px;
    border: 0.01px solid #8f8d8d;
    padding: 10px;
    
    
}
#content .section-header {
    margin-bottom: 40px;
    font-size: 50px;
    letter-spacing: 4px;
    margin-bottom: 40px;
}


.responsive-media {
    position: relative;
    width: 60%;
}

.responsive-media img {
     width: 90%;
     height: 300px;
     background-size: cover;
     border-radius: 8px;
     margin-right: 20px;
}

.whats-happening__hero-content {
    position: absolute;
    bottom: 0;
}
.item:hover {
    border: 0.001px solid #8f8d8d;
}

.block-content {
    margin-bottom: 20px;
    padding: 5px;
}

.block-item img {
    padding: 3px;
    border-radius: 20px;
}

.block-item img:hover {
    border: 0.001px solid #fff;
}

.directions button {
    font-family: cursive;
    font-weight: bold;
    background-color: #ffffff44;
    border: none;
    width: 50px;
    height: 50px;
    border-radius:50% ;
    transition: 0.5s;
    margin: 0 10px;
}

.directions button:hover {
    background-color: #fff;
}

.item .avatar {
    margin: 50px auto 10px;
    border-radius: 20px ;

}

#list {
    display: flex;
    width: max-content;
}

#formlist, #formlist-action,#formlist-sport,#formlist-adventure {
    max-width: 100%;
    overflow: auto;
    margin: 30px 0;
    scroll-behavior: smooth;
}

#formlist::-webkit-scrollbar,
#formlist-action::-webkit-scrollbar,
#formlist-sport::-webkit-scrollbar,
#formlist-adventure::-webkit-scrollbar{
    display: none;
}


footer {
	background: #101010;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}

.modals {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% -32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

header.modal-header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.modal-header h2 {
    font-size: 50px;     
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px;
    cursor: pointer;
}

.modal-close:hover {
    background-color: rgb(232, 129, 109);
    color: #eee;
}

.modals.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-160px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#game-adventure .item,
#game-sport .item,
#game-action .item,
#game-free .item {
    width: 25%;
    margin-right: 50px;
    border: none;
    background-color: rgb(182, 184, 186);
    padding: 30px 20px;
    border-radius: 20px;
}


.modal-body-1 {
    display: flex;
    margin: 0 20px;
}

