@media (min-width: 1024px) {
    .navigation-item img{
        width: 300px; margin-top: 5px;
    }
    .navigation-item div{
        display: flex;
    }
    .carousel-item img{
        height: 800px;
    }
    .content-section{
        border: none;
        margin: 60px 120px 60px 120px;
    }
    .section-header{
        display: flex; justify-content: space-between;
    }
    .formlist{
        border: none;
    }
    #game-free, #game-action, #game-sport, #game-adventure{
        display: flex;width: max-content;
    }
}