
body {
    background-color: #E3e7e8;
}

.containers {
    width: 1000px;
    margin: auto;
    transition: 0.5s;
    margin-top: 100px;
}

.container-item {
    display: grid;
    grid-template-columns: 1fr 50px;
}


.container-item .shopping {
    position: relative;
    text-align: right;
}

.container-item .shopping img {
    width: 40px;
}

.container-item .shopping span {
    background-color: red;
    border-radius: 50% ;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap:20px;
    margin-top: 50px;
}

.card {
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}

.card h1 {
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}


.card  .checkout {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.card .checkout div {
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkout div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
}

.active .card {
    left: calc(100% - 500px)
}

.active .containers {
    transform: translateX(-200px);
}

.list .item {
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}

.list .item img {
    width: 90%;
}

.list .item .title {
    font-weight: 600;
}

.list .item .price {
    margin: 10px;
}

.list .item button {
    background-color: #1C1F25;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}